<head>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<div class ="section"
<h1> Welcome to Milkshake And Mouse! </h1>
</div>

<div id ="first_section">

</div>
