// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body  {
  font-family: 'Indie Flower', cursive;
  background:url("milkshake_mouse.png") top right no-repeat;
  background-attachment: fixed;
  text-align: center;

}

h1 {

}
